<a href="https://colab.research.google.com/github/melanieshimano/bcpss-enrollment-data/blob/main/2020_11_03_bcpss_enrollment_2020_melanieshimano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Looking at Baltimore Public School Enrollment 2019-2020



*   Change in enrollment 2019-2020; how has covid affected enrollment?
*   how is this different for different counties?
*   how is this different for different grade levels?

# Import libraries

In [ ]:
#pip install plotly

In [ ]:
# import libraries

#for data analysis
import pandas as pd
import numpy as np

#for viz
import plotly.express as px

# import data

In [ ]:
# import data 

#2019 enrollment data
df_19_enroll = pd.read_csv("https://raw.githubusercontent.com/jhu-business-analytics/bcpss-enrollment-data/main/Enrollment_2019.csv")

In [ ]:
# preview data

df_19_enroll.head()

   Academic Year LSS Number  ... Enrolled Count Create Date
0           2019         01  ...             13    20190903
1           2019         01  ...             31    20190903
2           2019         01  ...             36    20190903
3           2019         01  ...             28    20190903
4           2019         01  ...             40    20190903

[5 rows x 8 columns]

In [ ]:
#import rest of the data

# 2020 enrollment data
df_20_enroll = pd.read_csv("https://raw.githubusercontent.com/jhu-business-analytics/bcpss-enrollment-data/main/Enrollment_By_Grade_2020.csv")

#2019 attendance data
df_19_attend = pd.read_csv("https://raw.githubusercontent.com/jhu-business-analytics/bcpss-enrollment-data/main/Attendance_2019.csv")

In [ ]:
#preview 2020 enrollment
df_20_enroll.head(10)

   Year LSS  LSS Name  ...                  Grade Enrolled Count Create Date
0  2020  01  Allegany  ...  Prekindergarten Age 4             19    20200805
1  2020  01  Allegany  ...           Kindergarten             28    20200805
2  2020  01  Allegany  ...                Grade 1             31    20200805
3  2020  01  Allegany  ...                Grade 2             40    20200805
4  2020  01  Allegany  ...                Grade 3             30    20200805
5  2020  01  Allegany  ...                Grade 4             38    20200805
6  2020  01  Allegany  ...                Grade 5             35    20200805
7  2020  01  Allegany  ...             All Grades            221    20200805
8  2020  01  Allegany  ...  Prekindergarten Age 4             97    20200805
9  2020  01  Allegany  ...           Kindergarten             63    20200805

[10 rows x 8 columns]

In [ ]:
#preview the attendance data
df_19_attend.tail()

      Academic Year LSS Number  ... Chronic Absentee Pct Create Date
1817           2019         32  ...                 12.1    20200117
1818           2019          A  ...                 15.0    20200117
1819           2019          A  ...                 17.1    20200117
1820           2019          A  ...                 28.1    20200117
1821           2019          A  ...                 19.5    20200117

[5 rows x 18 columns]

In [ ]:
df_19_enroll.columns

Index(['Academic Year', 'LSS Number', 'LSS Name', 'School Number',
       'School Name', 'Grade', 'Enrolled Count', 'Create Date'],
      dtype='object')

In [ ]:
df_19_enroll["LSS Name"].unique()

array(['Allegany', 'Anne Arundel', 'Baltimore County', 'Calvert',
       'Caroline', 'Carroll', 'Cecil', 'Charles', 'Dorchester',
       'Frederick', 'Garrett', 'Harford', 'Howard', 'Kent', 'Montgomery',
       "Prince George's", "Queen Anne's", "Saint Mary's", 'Somerset',
       'Talbot', 'Washington', 'Wicomico', 'Worcester', 'Baltimore City',
       'SEED', 'All Public Schools'], dtype=object)

 # Filter data for baltimore city only

In [ ]:
# look at all of the column names
df_19_enroll.columns

Index(['Academic Year', 'LSS Number', 'LSS Name', 'School Number',
       'School Name', 'Grade', 'Enrolled Count', 'Create Date'],
      dtype='object')

In [ ]:
# look at unique values in LSS name
df_19_enroll["LSS Name"].unique()

array(['Allegany', 'Anne Arundel', 'Baltimore County', 'Calvert',
       'Caroline', 'Carroll', 'Cecil', 'Charles', 'Dorchester',
       'Frederick', 'Garrett', 'Harford', 'Howard', 'Kent', 'Montgomery',
       "Prince George's", "Queen Anne's", "Saint Mary's", 'Somerset',
       'Talbot', 'Washington', 'Wicomico', 'Worcester', 'Baltimore City',
       'SEED', 'All Public Schools'], dtype=object)

In [ ]:
df_19_enroll["School Name"].nunique()

1395

In [ ]:
df_19_enroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9781 entries, 0 to 9780
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Academic Year   9781 non-null   int64
 1   LSS Number      9781 non-null   object
 2   LSS Name        9781 non-null   object
 3   School Number   9781 non-null   object
 4   School Name     9781 non-null   object
 5   Grade           9781 non-null   object
 6   Enrolled Count  9781 non-null   object
 7   Create Date     9781 non-null   int64
dtypes: int64(2), object(6)
memory usage: 611.4+ KB

In [ ]:
df_19_enroll.describe()

       Academic Year  Create Date
count         9781.0       9781.0
mean          2019.0   20190903.0
std              0.0          0.0
min           2019.0   20190903.0
25%           2019.0   20190903.0
50%           2019.0   20190903.0
75%           2019.0   20190903.0
max           2019.0   20190903.0

In [ ]:
df_19_enroll.head()

   Academic Year LSS Number  ... Enrolled Count Create Date
0           2019         01  ...             13    20190903
1           2019         01  ...             31    20190903
2           2019         01  ...             36    20190903
3           2019         01  ...             28    20190903
4           2019         01  ...             40    20190903

[5 rows x 8 columns]

In [ ]:
# filter data for baltimore city only
df_19_enroll_bmore = df_19_enroll[df_19_enroll["LSS Name"] == "Baltimore City"]

In [ ]:
#preview bmore only data
df_19_enroll_bmore.head(10)

      Academic Year LSS Number  ... Enrolled Count Create Date
8347           2019         30  ...             40    20190903
8348           2019         30  ...             30    20190903
8349           2019         30  ...             47    20190903
8350           2019         30  ...             39    20190903
8351           2019         30  ...             25    20190903
8352           2019         30  ...             33    20190903
8353           2019         30  ...             34    20190903
8354           2019         30  ...            248    20190903
8355           2019         30  ...             59    20190903
8356           2019         30  ...             56    20190903

[10 rows x 8 columns]

In [ ]:
# filter by total enrollment
df_19_enroll_bmore = df_19_enroll_bmore[df_19_enroll_bmore["Grade"] == "Total Enrollment"]

In [ ]:
#preview data
df_19_enroll_bmore.head(10)

      Academic Year LSS Number  ... Enrolled Count Create Date
8354           2019         30  ...            248    20190903
8362           2019         30  ...            345    20190903
8373           2019         30  ...            704    20190903
8384           2019         30  ...            512    20190903
8392           2019         30  ...            259    20190903
8403           2019         30  ...            909    20190903
8414           2019         30  ...            397    20190903
8418           2019         30  ...            352    20190903
8426           2019         30  ...            284    20190903
8434           2019         30  ...            356    20190903

[10 rows x 8 columns]

In [ ]:
# filter 2020 enrollment data 
df_20_enroll_bmore = df_20_enroll[(df_20_enroll["LSS Name"] == "Baltimore City") & (df_20_enroll["Grade"] == "All Grades")]

In [ ]:
df_20_enroll_bmore.head(10)

      Year LSS        LSS Name  ...       Grade Enrolled Count Create Date
8379  2020  30  Baltimore City  ...  All Grades            250    20200805
8387  2020  30  Baltimore City  ...  All Grades            391    20200805
8398  2020  30  Baltimore City  ...  All Grades            703    20200805
8409  2020  30  Baltimore City  ...  All Grades            625    20200805
8417  2020  30  Baltimore City  ...  All Grades            271    20200805
8428  2020  30  Baltimore City  ...  All Grades            998    20200805
8439  2020  30  Baltimore City  ...  All Grades            398    20200805
8443  2020  30  Baltimore City  ...  All Grades            415    20200805
8451  2020  30  Baltimore City  ...  All Grades            291    20200805
8459  2020  30  Baltimore City  ...  All Grades            365    20200805

[10 rows x 8 columns]

# Merge 2019 and 2020 Enrollment

In [ ]:
#merge 2019 and 2020 data

df_10_20_merge = pd.merge(df_19_enroll_bmore, 
                          df_20_enroll_bmore[["School Name", "Enrolled Count"]], 
                          how = "left", 
                          on = "School Name")

In [ ]:
df_10_20_merge.head()

   Academic Year LSS Number  ... Create Date Enrolled Count_y
0           2019         30  ...    20190903              250
1           2019         30  ...    20190903              391
2           2019         30  ...    20190903              703
3           2019         30  ...    20190903              625
4           2019         30  ...    20190903              271

[5 rows x 9 columns]

In [ ]:
# rename x for 2019 and y for 2020
df_10_20_merge = df_10_20_merge.rename(columns={"Enrolled Count_x": "Enrolled Count 2019",
                               "Enrolled Count_y": "Enrolled Count 2020"})

In [ ]:
df_10_20_merge.head(10)

   Academic Year LSS Number  ... Create Date Enrolled Count 2020
0           2019         30  ...    20190903                 250
1           2019         30  ...    20190903                 391
2           2019         30  ...    20190903                 703
3           2019         30  ...    20190903                 625
4           2019         30  ...    20190903                 271
5           2019         30  ...    20190903                 998
6           2019         30  ...    20190903                 398
7           2019         30  ...    20190903                 415
8           2019         30  ...    20190903                 291
9           2019         30  ...    20190903                 365

[10 rows x 9 columns]

# Calculate Percent Change in a new column

In [ ]:
# change datatype of enrollment to float
df_10_20_merge["Enrollment Count 2019"] = df_10_20_merge["Enrolled Count 2019"].astype(float)

In [ ]:
df_10_20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 0 to 166
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Academic Year          167 non-null    int64
 1   LSS Number             167 non-null    object
 2   LSS Name               167 non-null    object
 3   School Number          167 non-null    object
 4   School Name            167 non-null    object
 5   Grade                  167 non-null    object
 6   Enrolled Count 2019    167 non-null    object
 7   Create Date            167 non-null    int64
 8   Enrolled Count 2020    154 non-null    object
 9   Enrollment Count 2019  167 non-null    float64
 10  Enrollment Count 2020  154 non-null    float64
dtypes: float64(2), int64(2), object(7)
memory usage: 15.7+ KB

In [ ]:
# change datatype of enrollment to float
df_10_20_merge["Enrollment Count 2020"] = df_10_20_merge["Enrolled Count 2020"].astype(float)

In [ ]:
#percent enrollment change in 2020
df_10_20_merge["Enrollment Change"] = (df_10_20_merge["Enrollment Count 2020"] - df_10_20_merge["Enrollment Count 2019"])/df_10_20_merge["Enrollment Count 2020"]

In [ ]:
df_10_20_merge.head()

   Academic Year LSS Number  ... Enrollment Count 2020 Enrollment Change
0           2019         30  ...                 250.0          0.008000
1           2019         30  ...                 391.0          0.117647
2           2019         30  ...                 703.0         -0.001422
3           2019         30  ...                 625.0          0.180800
4           2019         30  ...                 271.0          0.044280

[5 rows x 12 columns]

In [ ]:
#change enrollment change to percent
df_10_20_merge["Enrollment Change"] = df_10_20_merge["Enrollment Change"]*100

In [ ]:
df_10_20_merge.head(10)

   Academic Year LSS Number  ... Enrollment Count 2020 Enrollment Change
0           2019         30  ...                 250.0          0.800000
1           2019         30  ...                 391.0         11.764706
2           2019         30  ...                 703.0         -0.142248
3           2019         30  ...                 625.0         18.080000
4           2019         30  ...                 271.0          4.428044
5           2019         30  ...                 998.0          8.917836
6           2019         30  ...                 398.0          0.251256
7           2019         30  ...                 415.0         15.180723
8           2019         30  ...                 291.0          2.405498
9           2019         30  ...                 365.0          2.465753

[10 rows x 12 columns]

# Bar Graph of Enrollment Change

In [ ]:
# create a bar chart of enrollment change

bar_enrollment = px.bar(df_10_20_merge,x= "School Name", y = "Enrollment Change", title = "Enrollment Change in BCPSS, 2019-2020")

In [ ]:
# sort values

df_10_20_merge = df_10_20_merge.sort_values(by = "Enrollment Change")

In [ ]:
df_10_20_merge.head(10)

     Academic Year LSS Number  ... Enrollment Count 2020 Enrollment Change
110           2019         30  ...                  18.0        -61.111111
123           2019         30  ...                 228.0        -55.701754
125           2019         30  ...                  57.0        -38.596491
55            2019         30  ...                 211.0        -33.649289
45            2019         30  ...                 367.0        -27.792916
42            2019         30  ...                  83.0        -26.506024
36            2019         30  ...                 358.0        -22.625698
108           2019         30  ...                  48.0        -20.833333
105           2019         30  ...                 221.0        -20.361991
35            2019         30  ...                 185.0        -19.459459

[10 rows x 12 columns]

In [ ]:
bar_enrollment

In [ ]:
import plotly.express as px

In [ ]:
bar_enrollment = px.bar(df_10_20_merge, x = "School Name", y = "Enrollment Change", title = "Enrollment Change 2019-2020, BCPSS")

In [ ]:
bar_enrollment

In [ ]:
df_10_20_merge = df_10_20_merge.sort_values(by = "Enrollment Change")