<a href="https://colab.research.google.com/github/melanieshimano/bcpss-enrollment-data/blob/main/2020_11_03_bcpss_enrollment_comments_only_melanieshimano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Looking at Baltimore Public School Enrollment 2019-2020

*adding notes about what we want to figure out in this analysis*

*   Change in enrollment 2019-2020; how has covid affected enrollment?
*   how is this different for different counties?
*   how is this different for different grade levels?

# Import libraries

In [1]:
#pip install plotly
#do this the first time that you use plolty in Google Colab
#you'll only need to do this once

In [2]:
# import libraries

#for data analysis


#for data viz

# import data

In [3]:
# import data 

#2019 enrollment data

In [4]:
# preview data

In [5]:
#import rest of the data

# 2020 enrollment data

#2019 attendance data

In [6]:
#preview the top 5 rows of 2020 enrollment

In [7]:
#preview the bottom five rows of attendance data

In [8]:
# list the names of columns in the 2019 enrollment data

In [9]:
# list all of the unique values in the "LSS Name" column in 2019 enrollment data

In [10]:
# look at the number of unique values in "School Name" in the 2019 enrollment data

 # Filter data for baltimore city only

In [11]:
# look at the high level information in the 2019 enrollment data

In [12]:
# look at the basic statistics of numerical columns in the 2019 enrollment data

In [13]:
# preview the 2019 enrollment data to remind us what we're looking for

In [14]:
# filter data for baltimore city only in the LSS Name column

In [15]:
#preview bmore only data

In [16]:
# filter by total enrollment in the "Grade" column

In [17]:
#preview filtered data

In [18]:
# filter 2020 enrollment data to only include Baltimore City in LSS Name and All Grades in the Grade column

In [19]:
# preview the filtered data

# Merge 2019 and 2020 Enrollment

In [20]:
# create a new dataframe that merge School Name and Enrolled Count from the 2020 enrollment data onto the 2019 data 
#using "School Name" column as the "key column"

In [21]:
# preview merged data

In [22]:
# rename _x for 2019 and _y for 2020 in column names

In [23]:
# preview edited data

# Calculate Percent Change in a new column

In [24]:
# change datatype of enrollment to float so we can perform calculations

In [25]:
# re-look at the information in the dataframe to see how this changed the Enrolled Count 2019 data

In [26]:
# change datatype of enrollment to float in 2020 column

In [27]:
# calculate the percent enrollment change in 2020 as a value in a new column

In [28]:
# preview new column in dataframe

In [29]:
#change enrollment change to percent by multiplying by 100

In [30]:
# preview data

# Bar Graph of Enrollment Change

In [31]:
# create a bar chart of enrollment change
# x axis is school name
# y axis is enrollment change

In [32]:
# sort values in enrollment change from least to greatest (default)

In [33]:
# preview data

In [34]:
# show bar graph